
*.aux
reichenbachunifiedNeaples.bcf
reichenbachunifiedNeaples.blg
reichenbachunifiedNeaples.fdb_latexmk
reichenbachunifiedNeaples.fls
reichenbachunifiedNeaples.log
reichenbachunifiedNeaples.run.xml
reichenbachunifiedNeaples.synctex.gz
reichenbachunifiedNeaples.aux
reichenbachunifiedNeaples.bbl
reichenbachunifiedNeaples.bcf
reichenbachunifiedNeaples.log
reichenbachunifiedNeaples.aux
reichenbachunifiedNeaples.bcf
reichenbachunifiedNeaples.log
*.aux
